$purple: #7C3AED;

.main {
  display: grid;
  place-items: center;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;

  &__header {
    color: white;
    background-color: $purple;
  
    &:first-of-type {
      border-top-left-radius: 4px;
    }

    &:last-of-type {
      border-top-right-radius: 4px;
    }
  }

  &:nth-child(even) > input {
    background-color: black;
  }

  &__input, &__cell, &__body {
    padding: 0px;
  }

  &__body {
    box-sizing: border-box;
    border: 1px solid black;
  }

  &__cell {
    text-align: center;
  }
}

.shortcuts {
  &__title {
    margin: 0;
  }

  &__list {
    margin: 0;
  }

  &__desc {
    text-align: left;
    margin: 4px;
  }
  
  &__warning {
    margin-top: 0px;
    font-weight: bold;
  }
}

.textarea {
  font-family: monospace;

  margin-top: 24px;
  width: 80%;
  height: 240px;
}

.footer {
  &__contact {
    font-size: 14px;
  }

  &__link {
    text-decoration: underline;
  }
}